<!DOCTYPE html>
<html lang="en">
<head>
	<title>Confirmation</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h1>Thank you {{first_name}} {{last_name}}!</h1>
Would you like to log in ?

<!--Add login button -->
<a href = "/#five">Login</a></form>
</body>
</html>