<!DOCTYPE HTML>
<!--
	Read Only by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Studio 20</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<section id="header">
				<header>
					<span class="image avatar"><img src="images/avatar.jpg" alt="" /></span>
					<h1 id="logo"><a href="#">Tanvi Chadha</a></h1>
					<p>Architect, Interior Designer, CEO<br />
					Certified Environmentally Conscious Designer</p>
				</header>
				<nav id="nav">
					<ul>
						<li><a href="#one" class="active">About</a></li>
						<li><a href="#two">Things I Can Do</a></li>
						<li><a href="#three">A Few Accomplishments</a></li>
						<li><a href="#four">Contact</a></li>
                        <li><a href="#five">Login</a></li>
					</ul>
				</nav>
				<footer>
					<ul class="icons">
						<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
					</ul>
				</footer>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one">
								<div class="image main" data-position="center">
									<img src="images/banner.jpg" alt="" />
								</div>
								<div class="container">
									<header class="major">
										<h2>STUDIO 20</h2>
										<p>Just an incredibly streamlined <br>
										architecture and design solution service<br />
										by Tanvi Chadha</p>
									</header>
									<p>Accomplish your vision of your dream home, office, apartment, corner, wherever you visualise magic happening! Tanvi provides cost-conscious solutions for interior, architecture and design. As the owner, she has the foresight and skills to bring your imagination into reality. She is clear in her approach and while possessing corporate experience and knowing industry standards, she is willing to experiment!</p>
								</div>
							</section>

						<!-- Two -->
							<section id="two">
								<div class="container">
									<h3>Things Tanvi Can Do</h3>
									<p>She is obsessed with customer happiness.  She is a one-woman team taking care of everything from requirement gathering, development of plans, sourcing vendors and getting work done.</p>
									<ul class="feature-icons">
										<li class="icon solid fa-code">Take Measurements with my cool laser</li>
										<li class="icon solid fa-cubes">Demolish the unnecessary</li>
										<li class="icon solid fa-book">Read pre-historic building plans</li>
										<li class="icon solid fa-coffee">Drink much coffee</li>
										<li class="icon solid fa-bolt">Make architecure wonderful</li>
										<li class="icon solid fa-users">Build something beautiful</li>
									</ul>
								</div>
							</section>

						<!-- Three -->
							<section id="three">
								<div class="container">
									<h3>A Few Accomplishments</h3>
									<p>She provides consultancy and turnkey where in she will take care of everything from ideation to definition to manifestation.</p>
									<div class="features">
										<article>
											<a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
											<div class="inner">
												<h4>House in Chandigarh</h4>
												<p>She began her journey with renovating a house in the beautiful city of Chandigarh in India, taking care of everything from drawings to elevations independently.</p>
											</div>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
											<div class="inner">
												<h4>House in Najafgarh</h4>
												<p>Alongside, she has been working on literally building a house from scratch in Najafgarh</p>
											</div>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
											<div class="inner">
												<h4>Container Apartments in USA</h4>
												<p>while at the same time, making some containers in the United States of America habitable for the masses here.</p>
											</div>
										</article>
									</div>
								</div>
							</section>

						<!-- Four -->
							<section id="four">
								<div class="container">
									<h3>Global Services</h3>
									Bar Graph shows consistently good ratings received from Clients.
									Currently, services have been provided in various cities in Delhi 
									and below bar chart contains rating provided by user from 1-10. <br>
									{{data}} <br>
									<canvas id="myChart" style="width: 270px; height: 230px; border: 2px solid black;"></canvas>
								</div>
							</section>

							<section id = "five">
								<div class = "container">
									
									<h3>Login</h3>
									<form action="/loginSubmit" method="POST">
  										<div>
    										<label for="username">username</label>
    										<input type="text" id="username" name="username" required>
  										</div>
  										<div>
    										<label for="password">Password</label>
    										<input type="password" id="password" name="password" required>
  										</div>
  										<button type="submit">Login</button>
									</form>
									<span>
											Don't have an account? <a href = "/createAccount">Sign Up</a>
									</span>
								</div>		
							</section>

						
					</div>

				<!-- Footer -->
					<section id="footer">
						<div class="container">
							<ul class="copyright">
								<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</section>

			</div>

		<!-- Scripts -->
			
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.scrollex.min.js"></script>
			<script src="js/jquery.scrolly.min.js"></script>
			<script src="js/browser.min.js"></script>
			<script src="js/breakpoints.min.js"></script>
			<script src="js/util.js"></script>
			<script src="js/main.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js" integrity="sha512-GMGzUEevhWh8Tc/njS0bDpwgxdCJLQBWG3Z2Ct+JGOpVnEmjvNx6ts4v6A2XJf1HOrtOsfhv3hBKpK9kE5z8AQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.js" integrity="sha512-CWVDkca3f3uAWgDNVzW+W4XJbiC3CH84P2aWZXj+DqI6PNbTzXbl1dIzEHeNJpYSn4B6U8miSZb/hCws7FnUZA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
			<script>
			const ctx = document.getElementById('myChart').getContext('2d');
			const myChart = new Chart(ctx, {
				type: 'bar',
				data: {
					//labels : {{data}}, //data passed not working - ask office hours 
					labels: ['Central Delhi', 'East Delhi', 'Najafgarh', 'New Delhi', 'Pitampura', 'Rohini'],
					datasets: [{
						label: '# of Votes',
						data: [7, 9, 8, 8, 10, 10],
						backgroundColor: [
							'rgba(255, 99, 132, 0.2)',
							'rgba(54, 162, 235, 0.2)',
							'rgba(255, 206, 86, 0.2)',
							'rgba(75, 192, 192, 0.2)',
							'rgba(153, 102, 255, 0.2)',
							'rgba(255, 159, 64, 0.2)'
						],
						borderColor: [
							'rgba(255, 99, 132, 1)',
							'rgba(54, 162, 235, 1)',
							'rgba(255, 206, 86, 1)',
							'rgba(75, 192, 192, 1)',
							'rgba(153, 102, 255, 1)',
							'rgba(255, 159, 64, 1)'
						],
						borderWidth: 1
					}]
				},
				options: {
					scales: {
						y: {
							beginAtZero: true
						}
					}
				}
			});
			</script>
			
	</body>
</html>